{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{% trans "Sign In" %}</h1>
      <p>Welcome back. Please log in. If you have not created an account yet, then <a class="link"
          href="{% url 'app_user:register' %}">register</a>
        first.</p>
    </div>
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary small-margin-top">{% trans "Sign In" %}</button>
          <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary small-margin-top">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
          <a href="{% provider_login_url 'github'%}?next=/" class="btn btn-primary small-margin-top">
              <i class="fab fa-github"></i>
              Sign In with Github
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
