{% extends "base.html" %}
{% block title %}Developers{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mt-3 offset-md-4">
        <h1>Developer Overview</h1>
    </div>
</div>

{% if user.is_authenticated %}
<div class="row">
    {% for user in users %}
    <div class="col-md-3">
        <div class="card text-center">
            <img src="{{ user.profile_pic.values.0.profile_picture.url }}" alt="" class="card-img-top">
            <a href="{% url 'app_home:profile-detail-view' user.username %}">{{ user.username }}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>Please log in or register to see other developers</p>
        <p><a href="{% url 'app_user:register' %}">Register</a></p>
        <p><a href="/user/login/">Login</a></p>
        
    </div>
</div>


{% endif %}


{% endblock %}