{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Developers{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Developer Overview</h1>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-8">
            <h3>Filter Users by Language:</h3>
                <form method="GET">
                    {{ form|crispy }}
                    <button class="btn btn-primary small-margin">Submit</button>
                </form>
        </div>
    </div>

    <div class="row gy-3">
        {% for dev in users %}
            {% if dev != user and dev != admin %}
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center card-title h-100 gap-betwen-cards">
                        <a href="{% url 'app_home:profile-detail-view' dev.pk %}">
                            {% if dev.profile_pic.values %}
                            <img src="{{ dev.profile_pic.values.0.profile_picture.url }}" alt="" class="card-img-top dev-img">
                        {% else %}
                        <img src="http://placekitten.com/300/300" alt="" class="card-img-top dev-img">
                        {% endif %}
                        </a>
                        <a href="{% url 'app_home:profile-detail-view' dev.pk %}" class="card-title">{{ dev.username }}</a>
                        <p>{% for language in dev.p_language.values %}
                            <img src="{{ language.language_icon.url }}" alt="" class="icon-sm">
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <nav aria-label="Page navigation" class="small-margin">
        <ul class="pagination justify-content-center">
            {% if users.has_previous %}
            <li class="page-item"><a class="page-link dark-text" href="?page={{ users.previous_page_number }}{{ href_filter }}">&laquo Previous</a></li>
            {% else %}
            <li class="page-item"><a class="page-link dark-text disabled" href="#">&laquo Previous</a></li>
            {% endif %}
            {% for n in p_nums %}
            {% if users.number == forloop.counter %}
            <li class="page-item"><a class="page-link dark-text active">{{ forloop.counter }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link dark-text" href="?page={{ forloop.counter }}{{ href_filter }}">{{ forloop.counter }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if users.has_next %}
            <li class="page-item"><a class="page-link dark-text" href="?page= {{ users.next_page_number }}{{ href_filter }}">Next &raquo</a></li>
            {% else %}
            <li class="page-item"><a class="page-link dark-text disabled" href="#">Next &raquo</a></li>
            {% endif %}
        </ul>
    </nav>

    {% else %}
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Please log in or register to see projects</p>
            <p><a href="{% url 'app_user:register' %}" class="btn btn-primary">Register</a>
            <a href="/user/login/" class="btn btn-primary">Login</a></p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}