{% extends "base.html" %}
{% load static %}
{% block title %}Project Picture{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Project: {{ project.title }}'s Pictures</h1>
        </div>
    </div>

    <div class="row">        
        {% for picture in pictures %}
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{picture.project_picture.url}}" alt="An image for the {{ project.title }} project " class="card-img-top">
                <div class="card-body">
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePicModal-{{ picture.id }}">Delete picture</button>
                </div>
            </div>
        </div>
        <!-- Modal for delete picture button -->
        <!-- Modified from https://getbootstrap.com/docs/5.0/components/modal/ -->
        <div class="modal fade" id="deletePicModal-{{ picture.id }}" tabindex="-1" role="dialog" aria-labelledby="deletePicModalLabel-{{ picture.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePicModalLabel-{{ picture.id }}">Are you sure?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span id="close-pic-modal-span-{{ picture.id }}" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This action will delete your picture</p>
                        <p>This action is IRREVERSIBLE. Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                    <a href="{% url 'app_home:delete-project-pic' picture.id %}" class="btn btn-danger" id="confirm-pic-delete-{{ picture.id }}">Delete my Picture</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>

    <div class="row">
        <div class="col-md-3">
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary margin-above">Add Project Pic</button>
                <a href="{% url 'app_home:project-detail-view' project.pk %}" class="btn btn-warning margin-above">Back to Project</a>   
            </form>
        </div>
    </div>
</div>

{% endblock %}