{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Project Overview</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-8">
            <h3>Filter Projects by Language:</h3>
            <form method="GET">
            {{ form|crispy }}
            <button class="btn btn-primary small-margin">Submit</button>
        </form>
        <a href="{% url 'app_home:create-project' %}" class="btn btn-primary small-margin">Create a New Project</a>
        </div>
    </div>

    <div class="row">
        {% for project in projects %}
        <div class="col-md-12">
            <div class="card text-center gap-betwen-cards">
                <div class="row no-gutters">
                    <div class="col-sm-3">
                        <a href="{% url 'app_home:project-detail-view' project.pk %}">
                            {% if project.project_pic.values.0 %}
                            <img src="{{ project.project_pic.values.0.project_picture.url }}" alt="The image for the {{ project.title }} project" class="card-img-top">
                            {% else %}
                            <img src="https://res.cloudinary.com/djlm3llv5/image/upload/v1678138517/zac9ltpydeu3t6uiabnb.jpg" alt="Placeholder image for the {{ project.title }} project" class="card-img-top">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h2><a href="{% url 'app_home:project-detail-view' project.pk %}" class="card-title">{{ project.title }}</a></h2>
                            <p>{% for language in project.p_language.values %}
                                <img src="{{ language.language_icon.url }}" alt="The {{ language.language }} icon" class="icon-sm">
                                {% endfor %}
                            </p>
                            <p>
                                {{ project.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation" class="small-margin">
                <ul class="pagination justify-content-center">
                    {% if projects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}{{ href_filter }}">&laquo Previous</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link disabled" href="#">&laquo Previous</a></li>
                    {% endif %}
                    {% for n in p_nums %}
                    {% if projects.number == forloop.counter %}
                    <li class="page-item"><a class="page-link active">{{ forloop.counter }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}{{ href_filter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                    {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page= {{ projects.next_page_number }}{{ href_filter }}">Next &raquo</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link disabled" href="#">Next &raquo</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
    {% else %}
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Please log in or register to see projects</p>
            <p><a href="{% url 'app_user:register' %}" class="btn btn-primary">Register</a>
            <a href="/user/login/" class="btn btn-primary">Login</a></p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}