{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ project.title }}</h1>
            {% if project.user.values.0.id == user.id %}
            <div class="circle-container">
                <div class="circle-img">
                    {% if project.project_pic.values.0.project_picture %}
                    <a href="{% url 'app_home:add-project-pic' project.pk %}">
                        <img src={{project.project_pic.values.0.project_picture.url}} alt="">
                    </a>
                        {% else %}
                    <a href="{% url 'app_home:add-project-pic' project.pk %}">
                        <img src="https://res.cloudinary.com/djlm3llv5/image/upload/v1678139273/x67igozvm2kkr8srya94.jpg" alt="">
                    </a>
                </div>
            </div>
            {% endif %}
            {% else %}
            {% if project.project_pic.values.0.project_picture %}
            <div class="circle-container">
                <div class="circle-img">
                    <img src={{project.project_pic.values.0.project_picture.url}} alt="">
                </div>
            </div>
            {% else %}
            <div class="circle-container">
                <div class="circle-img">
                    <img src="https://res.cloudinary.com/djlm3llv5/image/upload/v1678138517/zac9ltpydeu3t6uiabnb.jpg" alt="">
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <p>{{ project.description }}</p>
            {% if project.user.values.0.id %}
            <p><strong>Project Owner: </strong><a href="{% url 'app_home:profile-detail-view' project.user.values.0.id %}">{{ project.user.values.0.username }}</a></p>
            {% else %}
            <p><strong>Project Owner: </strong>This project no longer has an owner</p>
            {% endif %}
            <p><strong>Programming Languages:</strong> 
                {% for language in project.p_language.values %}
                <img src="{{ language.language_icon.url }}" alt="" class="icon-sm" title="{{ language.language }}">
                {% endfor %}
            </p>
            <div class="row">
                <div class="col-md-12">
                    {% if project.user.values.0.id == user.id %}
                    <p>
                        <a href="{% url 'app_home:project-edit-view' project.pk %}" class="btn btn-primary small-margin">Edit Project</a>
                        <button type="button" class="btn btn-danger small-margin" data-bs-toggle="modal" data-bs-target="#delete-project-modal">Delete Project</button>
                    </p>
                    {% endif %}
                    <a href="{% url 'app_home:project-overview' %}" class="btn btn-primary small-margin">Back to overview</a>
                    {% if project.user.values.0.id != user.id %}
                    <a href="{% url 'app_user:add_message' project.user.values.0.id %}" class="btn btn-primary small-margin"><i class="fa-regular fa-envelope"></i> Message project owner</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for delete button -->
<!-- https://getbootstrap.com/docs/5.0/components/modal/ -->
<div class="modal fade" id="delete-project-modal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModal">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span id="close-modal-span" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will delete your project and any associated pictures.</p>
                <p>This action is IRREVERSIBLE. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'app_home:delete-project' project.id %}" class="btn btn-danger" id="confirm-delete">Delete my project</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}