{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user_for_profile.username }}'s Profile</h1>
            <div class="square-container">
                <div class="square-img">
                        {% if user_for_profile.profile_pic.values %}
                        <img src={{user_for_profile.profile_pic.values.0.profile_picture.url}} alt="{{ user_for_profile.username }}'s profile picture">
                        {% else %}
                        <img src="http://placekitten.com/300/300" alt="A random kitten photo as an image placeholder">
                        {% endif %}
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            {% for key, value in user_for_profile.to_json.items %}
            {% if value and key != 'email' and key != 'username' %}

            <p><strong>{{ key.title }}:</strong> {{ value }}</p>

            {% endif %}
            {% endfor %}

            {% if p_langs %}
            <p><strong>Programming Languages:</strong></p>
            {% for lang in p_langs %}
            <img src="{{ lang.language_icon.url }}" class="icon-sm" alt="{{lang.language}} icon" title="{{ lang.language }}">
            {% endfor %}
            {% endif %}
            

            {% if user_projects %}
            <p>Projects: 
            {% for project in user_projects %}
                <a href="{% url 'app_home:project-detail-view' project.pk %}">{{project.title}}</a>
            {% endfor %}</p>
            {% endif %}
            
            <a href="{% url 'app_home:developer-overview' %}" class="btn btn-primary margin-above">Back to overview</a>
            <a href="{% url 'app_user:add_message' user_for_profile.pk %}" class="btn btn-primary margin-above"><i class="fa-regular fa-envelope"></i> Send message</a>
        </div>
    </div>
</div>
{% endblock %}