{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user_for_profile.username }}'s Profile</h1>
            <div class="circle-container">
                <div class="circle-img">
                        <img src={{user_for_profile.profile_pic.values.0.profile_picture.url}} alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            {% for key, value in user_for_profile.to_json.items %}
            {% if value and key != 'email' %}

            <p><strong>{{ key.title }}:</strong> {{ value }}</p>

            {% endif %}
            {% endfor %}

            {% for key, value in user_for_profile.to_json_list.items %}
            {% if value %}
            <p><strong>{{ key.title }}:</strong> 
                {% for language in value %}{{ language }} {% endfor %}</p>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}