/* Nav bar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
}

body {
    padding-top: 140px;
}
@media (max-width: 760px) {
    body {
        padding-top: 50px;
    }
}

.p-lang-form {
    width: 250px;
}

.small-margin {
    margin: 5px;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-color: #ccc;
    border-width: 1px;
    /* border-radius: 50%; */
    margin: 0 auto;
}

.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    height: 50px;
    width: 50px;;
}

.icon-sm {
    height: 30px;
    width: 30px;;
}

.gap-betwen-cards {
    margin: 3px;
}





/* cards */
.card-title {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 800;
}

/* greyed out image */
.grey {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* Footer */

.footer-bg{
    background-color: #78c2ad;
    height: 85px;
}
.fa-brands {
    font-size: 165%;
    color: #fff;
}

/*  Media Queries */
/* Navbar drop down auto open and caret inversion */
/*  from https://www.youtube.com/watch?v=5hvZWpRFKmk */
@media screen and (min-width:992px) {
    .dropdown:hover .dropdown-menu{
        display:block;
        margin-top:0;
    }

    .dropdown .dropdown-menu{
        display: none;
    }
    .dropdown:hover .dropdown-toggle::after{
        border-top: 0;
        border-bottom: .3em solid;
    }
}
@media screen and (max-width:992px){
    .dropdown-toggle.show::after{
        border-top: 0;
        border-bottom: .3em solid;
    }
}