{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Message{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if receiver.profile_pic.values %}
            <div class="circle-container">
                <div class="circle-img">
                    <img src="{{ receiver.profile_pic.values.0.profile_picture.url }}" alt="">
                </div>
            </div>
            {% endif %}
            <h1 class="text-center">Edit message to <br>{{ receiver.username }}</h1>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="sender" value="{{ sender.pk }}">
                <input type="hidden" name="receiver" value="{{ receiver.pk }}">
                <a href="{% url 'app_user:individual_msg' msg.pk %}" class="btn btn-danger">Cancel</a>
                <button class="btn btn-primary">Edit message</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}