{% extends "base.html" %}
{% block title %}Message{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if msg_type == "received" %}
            <div class="circle-container">
                <div class="circle-img">
                    <a href="{% url 'app_home:profile-detail-view' msg.user_sender.pk %}">
                        {% if msg.user_sender.profile_pic.values %}
                        <img src={{msg.user_sender.profile_pic.values.0.profile_picture.url}} alt="{{ msg.user_sender.username }}'s profile picture">
                        {% else %}
                        <img src="http://placekitten.com/300/300" alt="A random kitten picture as a placeholder image">
                        {% endif %}
                    </a>
                </div>
            </div>
            <h1 class="text-center">Message from {{ msg.user_sender.username }}</h1>
            <p><strong>Title:</strong> {{ msg.title }}</p>
            <p><strong>Message:</strong> {{ msg.message }}
                {% if msg.edited %} <em class="small-txt">  edited</em> {% endif %}</p></p>
            <p><strong>Received:</strong> {{ msg.sent_date }}</p>
            <a href="{% url 'app_user:add_message' msg.user_sender.pk %}" class="btn btn-primary small-margin-top">Reply</a>
            <br>
            {% else %}
            <div class="circle-container">
                <div class="circle-img">
                    <a href="{% url 'app_home:profile-detail-view' msg.user_receiver.pk %}">
                        {% if msg.user_receiver.profile_pic.values %}
                        <img src={{msg.user_receiver.profile_pic.values.0.profile_picture.url}} alt="{{ msg.user_receiver.username }}'s profile picture">
                        {% else %}
                        <img src="http://placekitten.com/300/300" alt="A random kitten picture as a placeholder image">
                        {% endif %}
                    </a>
                </div>
            </div>
            <h1 class="text-center">Your message to <br>{{ msg.user_receiver.username }}</h1>
            <p><strong>Title:</strong> {{ msg.title }}</p>
            <p><strong>Message:</strong> {{ msg.message }}
            {% if msg.edited %} <em class="small-txt">  edited</em> {% endif %}</p>
            <p><strong>Sent:</strong> {{ msg.sent_date }}</p>
            <a href="{% url 'app_user:edit_message' msg.pk %}" class="btn btn-warning small-margin-top">Edit message</a>
            <br>
            {% endif %}
            <a href="{% url 'app_user:messages' %}" class="btn btn-primary small-margin-top">Back to messages</a>
            <a href="{% url 'app_home:profile-detail-view' msg.user_receiver.pk %}" class="btn btn-primary small-margin-top">View Profile</a>
            <a href="#" class="btn btn-danger small-margin-top" data-bs-toggle="modal" data-bs-target="#delete-msg-modal">Delete</a>
        </div>
    </div>
</div>

<!-- Modal for delete button -->
<!-- Modified from https://getbootstrap.com/docs/5.0/components/modal/ -->
<div class="modal fade" id="delete-msg-modal" tabindex="-1" role="dialog" aria-labelledby="deleteMsgModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMsgModal">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span id="close-modal-span" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will delete your message for both you and the other person.</p>
                <p>This action is IRREVERSIBLE. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'app_user:delete_message' msg.pk %}" class="btn btn-danger" id="confirm-delete">Delete my message</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}