{% extends "base.html" %}
{% block title %}Messages{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user.username }}'s Messages</h1>

            <h2>Recieved messages:</h2>
            <table class="table">
                <tr>
                    <th>From</th>
                    <th>Title</th>
                    <th>Date recieved</th>
                    <th><i class="fa-solid fa-trash-can"></i></th>
                </tr>
                {% for msg in received_msgs %}
                <tr>
                    <td><a href="{% url 'app_home:profile-detail-view' msg.user_sender.pk %}">{{ msg.user_sender.username }}</a></td>
                    <td><a href="{% url 'app_user:individual_msg' msg.pk %}">{{ msg.title }}</a></td>
                    <td>{{ msg.sent_date }}</td>
                    <td><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMsgModal-{{ msg.id }}"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
                <!-- Modal for delete message button -->
                <!-- Modified from https://getbootstrap.com/docs/5.0/components/modal/ -->
                <div class="modal fade" id="deleteMsgModal-{{ msg.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMsgModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteMsgModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span id="close-pic-modal-span" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This action will delete the message for both you and the other user!</p>
                                <p>This action is IRREVERSIBLE. Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                            <a href="{% url 'app_user:delete_message' msg.id %}" class="btn btn-danger" id="confirm-pic-delete">Delete Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>

            <br>
            <h2>Sent messages:</h2>
            <table class="table">
                <tr>
                    <th>To</th>
                    <th>Title</th>
                    <th>Date sent</th>
                    <th><i class="fa-solid fa-trash-can"></i></th>
                </tr>
                {% for msg in sent_msgs %}
                <tr>
                    <td><a href="{% url 'app_home:profile-detail-view' msg.user_receiver.pk %}">{{ msg.user_receiver.username }}</a></td>
                    <td><a href="{% url 'app_user:individual_msg' msg.pk %}">{{ msg.title }}</a></td>
                    <td>{{ msg.sent_date }}</td>
                    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMsgModal-{{ msg.id }}"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
                <!-- Modal for delete message button -->
                <!-- Modified from https://getbootstrap.com/docs/5.0/components/modal/ -->
                <div class="modal fade" id="deleteMsgModal-{{ msg.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMsgModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteMsgModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span id="close-pic-modal-span" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This action will delete the message for both you and the other user!</p>
                                <p>This action is IRREVERSIBLE. Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                            <a href="{% url 'app_user:delete_message' msg.id %}" class="btn btn-danger" id="confirm-pic-delete">Delete Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}