{% extends "base.html" %}
{% block title %}Profile Picture{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user.username }}'s Profile Pictures</h1>
        </div>
    </div>

    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{picture}}" alt="" class="card-img-top">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="method" value="add">
            {{ form }}
            <button type="submit">Add Profile Pic</button>
        </form>
    </div>
</div>

{% endblock %}