{% extends "base.html" %}
<!-- {% load static %} -->
{% block title %}Profile Picture{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user.username }}'s Profile Pictures</h1>
        </div>
    </div>

    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{picture.profile_picture.url}}" alt="" class="card-img-top">
                <div class="card-body">
                    <!-- <form method="POST" id="{{ forloop.counter }}">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <input type="hidden" name="pic_id" value="{{picture.id}}">
                        <button class="btn btn-danger delete-pic-btn" data-bs-toggle="modal" data-bs-target="#delete-pic-modal">Delete</button>
                    </form> -->
                    <button class="btn btn-primary" data-bs-id ="{{ picture.id }}"  data-bs-toggle="modal" data-bs-target="#deletePicModal">Delete picture</button>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>
    <div class="row">
        <div class="col-md-3">
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="method" value="add">
                {{ form }}
                <span class="btn-group">
                <button type="submit" class="btn btn-primary">Add Profile Pic</button>
                <a href="{% url 'app_user:profile' %}" class="btn btn-warning">Back to Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for delete picture button -->
<!-- Modified from https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="deletePicModal" tabindex="-1" role="dialog" aria-labelledby="deletePicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePicModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span id="close-pic-modal-span" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will delete your picture</p>
                <p>This action is IRREVERSIBLE. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                <button type="button" class="btn btn-danger" id="confirm-pic-delete">Delete my Picture</button>
        </div>
    </div>
</div>
<!-- 
<script>
    var deleteButton = document.querySelectorAll(".delete-button");
    deleteButton.forEach(function (deleteButton) {
        deleteButton.addEventListener("click", function (event) {
            event.preventDefault();
            var id = deleteButton.getAttribute('data-bs-id');
            var form = document.getElementById(id);
            console.log(id)
            console.log(form)
            var modal = document.querySelector('#deletePicModal').modal;
            modal.show();
            
            document.getElementById("confirm-delete").onclick = function () {
                form.submit();
            }
        });
    });
</script> -->

<!-- <script src="{% static 'js/delete-pic-script.js' %}"></script> -->
{% endblock %}