{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Sign up!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST">
            {% csrf_token %}
            {{ registration_form|crispy }}
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary small-margin-top">Sign up</button>
                <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary small-margin-top">
                    <i class="fab fa-google"></i>
                    Google Signup
                </a>
                <a href="{% provider_login_url 'github'%}?next=/" class="btn btn-primary small-margin-top">
                    <i class="fab fa-github"></i>
                    Github Signup
                </a>
            </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}