{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Sign up!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form action="" method="POST">
            {% csrf_token %}
            {{ registration_form|crispy }}
            <button type="submit">Sign up</button>
            <button class=" btn-outline-info">
                <a href="{% provider_login_url 'google'%}?next=/">
                    <i class="fab fa-google"></i>
                    Sign Up with Google
                </a>
            </button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}