{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Sign up!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form action="" method="POST">
            {% csrf_token %}
            {{ registration_form|crispy }}
            <button type="submit" class="btn btn-primary">Sign up</button>
                <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary">
                    <i class="fab fa-google"></i>
                    Sign Up with Google
                </a>
                <a href="{% provider_login_url 'github'%}?next=/" class="btn btn-primary">
                    <i class="fab fa-github"></i>
                    Sign Up with Github
                </a>
            </form>
        </div>
    </div>
</div>    
{% endblock %}