{% extends "base.html" %}
{% block title %}Messages{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-center">Your Sent Messages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'app_user:messages' %}" class="btn btn-primary small-margin">Received Messages</a>
            <h2>Sent messages:</h2>
            <table class="table">
                <tr>
                    <th class="sm-hidden-table"></th>
                    <th class="table-cell-text">To</th>
                    <th class="table-cell-text">Title</th>
                    <th class="table-cell-text">Date sent</th>
                    <th class="sm-hidden-table">Edit</th>
                    <th class="sm-hidden-table">Delete</th>
                </tr>
                {% for msg in msgs %}
                <tr>
                    <td class="align-middle sm-hidden">
                        <div class="square-container-small">
                            <a href="{% url 'app_home:profile-detail-view' msg.user_receiver.pk %}">
                                <img src="{{ msg.user_receiver.profile_pic.values.0.profile_picture.url }}" alt="{{ msg.user_receiver.username }}'s profile picture" class="square-img">
                            </a>
                        </div>
                    </td>
                    <td class="align-middle"><a href="{% url 'app_home:profile-detail-view' msg.user_receiver.pk %}" class="table-cell-text">{{ msg.user_receiver.username }}</a></td>
                    <td class="align-middle"><a href="{% url 'app_user:individual_msg' msg.pk %}" class="table-cell-text">{{ msg.title }}</a></td>
                    <td class="align-middle small-text">{{ msg.sent_date }}</td>
                    <td class="align-middle"><a href="{% url 'app_user:edit_message' msg.pk %}" class="btn sm-hidden-table"><i class="fa-solid fa-pencil"></i></a></td>
                    <td class="align-middle"><button class="btn sm-hidden-table" style="color: #C63D17;" data-bs-toggle="modal" data-bs-target="#deleteMsgModal-{{ msg.id }}"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>

                <!-- Modal for delete message button -->
                <!-- Modified from https://getbootstrap.com/docs/5.0/components/modal/ -->
                <div class="modal fade" id="deleteMsgModal-{{ msg.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMsgModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteMsgModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span id="close-pic-modal-span" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>This action will delete the message for both you and the other user!</p>
                                <p>This action is IRREVERSIBLE. Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                            <a href="{% url 'app_user:delete_message' msg.id %}" class="btn btn-danger" id="confirm-pic-delete">Delete Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>

            <!-- Pagination -->
            <nav aria-label="Page navigation" class="small-margin">
                <ul class="pagination justify-content-center">
                    {% if msgs.has_previous %}
                    <li class="page-item"><a class="page-link dark-text" href="?page={{ msgs.previous_page_number }}">&laquo Previous</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link dark-text disabled" href="#">&laquo Previous</a></li>
                    {% endif %}
                    {% for n in p_nums %}
                    {% if msgs.number == forloop.counter %}
                    <li class="page-item"><a class="page-link dark-text active">{{ forloop.counter }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link dark-text" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                    {% if msgs.has_next %}
                    <li class="page-item"><a class="page-link dark-text" href="?page= {{ msgs.next_page_number }}">Next &raquo</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link dark-text disabled" href="#">Next &raquo</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}