{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">{{ user.username }}'s Profile</h1>
            <div class="circle-container">
                <div class="circle-img">
                    <a href="{% url 'app_user:edit-profile-pic' %}" class="circle-img">
                        {% if user.profile_pic.values %}
                        <img src={{user.profile_pic.values.0.profile_picture.url}} alt="">
                        </a>
                    </div>
                </div>
                        {% else %}
                        <img src="http://placekitten.com/300/300" alt="">
                        </a>
                    </div>
                </div>
                        You have been assigned a random kitten placeholder image. 
                        Please click the image if you would like to upload your own picture.
                        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            {% for key, value in user.to_json.items %}
            {% if value %}

            <p><strong>{{ key.title }}:</strong> {{ value }}</p>

            {% endif %}
            {% endfor %}

            {% for key, value in user.to_json_list.items %}
            {% if value %}
            {% if key == "p_language_icons" %}
            {% for v in value %}
            <img src="{{v}}" alt="" class="icon">
            {% endfor %}
            {% else %}
            <p><strong>{{ key.title }}:</strong> 
                {% for v in value %}
                {{ v }}
                {% endfor %}
                {% endif %}
            </p>
            {% endif %}
            {% endfor %}

            {% if user_projects %}
            <p>Projects: 
            {% for project in user_projects %}
                <a href="{% url 'app_home:project-detail-view' project.pk %}">{{project.title}}</a>
            {% endfor %}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <a href="{% url 'app_user:edit-profile' %}" class="btn btn-primary">Edit Profile</a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-profile-modal">Delete Profile</a>
        </div>
    </div>
</div>

<!-- Modal for delete button -->
<!-- Modified from https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="delete-profile-modal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProfileModal">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="close-modal-span" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will delete your account and all of your data, photos and projects.</p>
                <p>This action is IRREVERSIBLE. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'app_user:delete-profile' %}" class="btn btn-danger" id="confirm-delete">Delete my account</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}